body {
   background-color: rgb(214, 230, 221);
}

p {
color:rgb(0, 100, 95);
font-size: 20px;
text-align: justify
}

#principal {

   color:darkolivegreen;
   font-size:30px;
   text-align: justify;
   margin-top: 1%;
   margin-left: 2%;
   border-right: 2%;
}

#caixa {
   border: 8px solid rgba(31, 143, 46, 0.544);
   width: 95%;
   /* height: 130px; */
   padding-right: 3%;
   margin-left: 0.5%;
   margin-right: 0%;
}

.texto {

   color: cornflowerblue; 
   font-size: 20px
}

h1{
   color:darkgreen;
   text-align:center;
   font-size: 50px;
}

form{
   color:rgb(0, 100, 87)
   
}

input {
   color: darkgreen
}

#enviar{
   background-color:greenyellow
}

#logo_principal{
   /* border:1px solid red; */
   background-color:#d3efd0;
   display:flex;
   justify-content: center;


}


